/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base pour le corps du document */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

/* Conteneur principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour les boutons */
button {
    background: linear-gradient(to bottom, #87CEEB, #007bff);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(to bottom, #00BFFF, #007bff);
}

/* Styles pour la section de résultats */
#result {
    background: linear-gradient(to bottom, #87CEEB, #007bff);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Message de mise à jour du navigateur pour les anciennes versions d'Internet Explorer */
.browsehappy {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Styles pour les boutons de choix */
#choix {
    text-align: center;
    margin-top: 20px;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Liens dans le pied de page */
footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
